*.o
*.a
.deps
.dirstamp
stratum/stratum
stratum/blocknotify
blocknotify/blocknotify
blocknotify-dcr/blocknotify-dcr
bin/stratum
bin/blocknotify
bin/blocknotify-dcr
stratum/config/
log/
!log/.gitkeep
*.log
web/images/*
web/yaamp/runtime/*
cookies/
bin/blocknotif
web/serverconfig.php
web/serverconfig.prod.php
web/assets/
*.rej
*.orig
.idea/*
web/yaamp/.idea/
*.0

/vendor/
stratum/.vs/stratum/v14/.suo
stratum/stratum.VC.db
stratum/stratum.VC.VC.opendb
stratum.tgz
stratum/stratum_original
